html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

* {
    transition: .1s ease;
}

h1,
h2 {
    font-family: 'Arvo', serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
}

h3,
h4 {
    font-weight: bold;
}

body {
    margin: 0;
    background-color: #f5f5f7;
    font-family: 'Arvo', serif;
}

a,
p,
input {
    font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: content-box;
}

a {
    text-decoration: none;
    box-sizing: content-box;
    display: inline-flex;
    cursor: pointer;
}

label {
    font-size: small;
}

input,
select {
    width: 50px;
    border: 1px solid var(--pri);
    height: 32px;
    border-radius: 4px;
    padding: 0;
    font-family: 'Arvo', serif;
}

input:focus,
select:focus {
    outline: var(--pri) solid 2px;
    background: #FFF;
}

select.spec_select {
    width: fit-content;
}


/* COLOURS */

 :root {
    --pri: #215389;
    --sec: #44b7e0;
    --but: #465660;
    --but-hov: #222222;
    --border: #DDD;
}

nav {
    background-color: var(--pri);
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
}

nav a {
    margin-right: 15px;
    background-color: #FFF;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--border);
    color: var(--pri)
}

main {
    display: flex;
    height: calc(100vh - 61px);
}

.main_cont {
    padding: 10px;
    width: 100%;
    display: flex;
}

.sidebar {
    background-color: #FFF;
    width: 250px;
    height: calc(100vh - 61px);
    border-right: 1px solid var(--border);
    position: fixed;
    left: 0;
    top: 61px;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}


/* Track */

.sidebar::-webkit-scrollbar-track {
    background: #DDD;
}


/* Handle */

.sidebar::-webkit-scrollbar-thumb {
    background: var(--but);
    border-radius: 10px;
}


/* Handle on hover */

.sidebar::-webkit-scrollbar-thumb:hover {
    background: var(--sec);
}

.sidebar h3 {
    margin: 10px
}

.sidebar a {
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar a:hover {
    background-color: var(--pri);
    color: #FFF;
}

.sidebar_links {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border);
    padding-bottom: 50px;
    /*so the last link isnt at the bottom*/
}

a:hover {
    background-color: var(--but-hov);
    color: #FFF;
}

.sidebar_selected {
    background: var(--pri);
    color: #FFF !important;
}

.main_selections_container {
    width: 100%;
    padding: 10px 10px 35px 260px;
}

.selection_item_outer {
    width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

.selection_item_inner {}

.selection_item_header {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close_button {
    color: var(--but);
    cursor: pointer;
    font-size: x-large;
    border-radius: 50%;
}

a.close_button:hover {
    color: #DDD !important;
}

.selection_cont {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selection_item_choices {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selection_item_choices h5 {
    padding-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: var(--border);
}

.cut_choice_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selection_buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.selection_buttons a {
    line-height: 2;
    padding: 0 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
}

.fish_selection_cuts {
    padding: 5px;
    background: #F5F5F7;
    width: fit-content;
    border-radius: 5px;
}

.fish_selection_cuts p {
    margin-bottom: 5px;
}

.custom_selection,
.complete_btn_cont {
    border-left: 1px solid var(--border);
    padding-left: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.complete_btn_cont a {
    background-color: var(--pri);
    color: #FFF;
    font-weight: bold;
}

.complete_btn_cont a:hover {
    background-color: var(--sec);
}